<div class="page-inner article-container" role="main" aria-label="{{_globals._accessibility._ariaLabels.page}}">

	<div class="page-header">
		<div class="page-header-inner clearfix">

			<div class="page-header-content">
				<div class="page-header-content-inner">

					{{#if displayTitle}}
					<div class="page-title">
						<div class="page-title-inner h1" tabindex="0" role="heading" aria-level="1">
							{{{displayTitle}}}
						</div>
					</div>
					{{/if}}

					{{#if body}}
					<div class="page-body">
						<div class="page-body-inner">
							{{#if pageBody}}
							{{{a11y_text pageBody}}}
							{{else}}
							{{{a11y_text body}}}
							{{/if}}
						</div>
					</div>
					{{/if}}

				</div>
			</div>

		</div>
	</div>
</div>
<div class="block inverted footer footer-logo-links"><div class="block-inner">
        <div class="block-title">
            <div role="heading" tabindex="-1" class="block-title-inner h3" aria-level="3" aria-hidden="true">
            </div>
        </div>
        <div class="component-container">
            <div class="component graphic-component component-left nth-child-1"><div class="graphic-inner component-inner">
                <div class="graphic-header component-header">
                    <div class="graphic-header-inner component-header-inner">
                        <div class="graphic-title component-title">
                            <div role="heading" tabindex="-1" class="graphic-title-inner component-title-inner" aria-level="4" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graphic-widget component-widget footer-logo">
                    <img src="adapt/css/assets/se-logo.png" data-large="adapt/css/assets/se-logo.png" data-small="adapt/css/assets/se-logo.png" class="a11y-ignore" aria-hidden="true" tabindex="-1">
                    <img src="adapt/css/assets/logo-small.png" data-large="adapt/css/assets/logo-small.png" data-small="adapt/css/assets/logo-small.png" class="a11y-ignore" aria-hidden="true" tabindex="-1">
                </div>
            </div>
            <div class="accessibility-state">
                <span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-incomplete" aria-hidden="true">  Incomplete</span>
            </div></div><div class="component socialbuttons-component component-right nth-child-2">
            <div class="socialbuttons-inner component-inner"><span class="aria-label prevent-default a11y-ignore" tabindex="-1" role="region" aria-hidden="true">This component displays a series of clickable social network buttons. You can customise each one bellow.</span>
                <a class="social" target="_blank" href="https://twitter.com/ODIHQ"><img src="adapt/css/assets/twitter.png"></a>
                <a class="social" target="_blank" href="https://www.facebook.com/MyODIHQ"><img src="adapt/css/assets/facebook.png"></a>
                <a class="social" target="_blank" href="https://soundcloud.com/theodi"><img src="adapt/css/assets/soundcloud.png"></a>
                <a class="social" target="_blank" href="https://www.scribd.com/OpenDataInstitute"><img src="adapt/css/assets/scribd.png"></a>
                <a class="social" target="_blank" href="https://github.com/theodi"><img src="adapt/css/assets/github.png"></a>
                <a class="social" target="_blank" href="https://vimeo.com/theodiuk"><img src="adapt/css/assets/vimeo.png"></a>
                <a class="social" target="_blank" href="https://www.youtube.com/user/OpenDataInstituteUK"><img src="adapt/css/assets/youtube.png"></a>
                <a class="social" target="_blank" href="https://www.flickr.com/photos/ukodi/"><img src="adapt/css/assets/flickr.png"></a>
            </div>
            <div class="about-links">
            <a class="about" onClick='callTrigger("aboutPage:showAboutPage");'>About</a> | <a class="about" onClick='callTrigger("licencePage:showLicencePage");'>Licence</a> | <a class="skills" onclick='callTrigger("skillsFramework:showSkills");'>Learning outcomes</a> | <a class="contact" href="mailto:training@theodi.org">Contact us</a>
            </div>
        <div class="accessibility-state">
            <span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-incomplete" aria-hidden="true">Incomplete</span>
        </div></div></div>
    </div></div>
<div class="aria-label relative a11y-ignore-focus prevent-default" tabindex="0" role="region">{{_globals._accessibility._ariaLabels.pageEnd}}</div>
